<h1>Articles</h1>


  <div>
  	<%= link_to "Sign Up", signup_url %>
  </div>
  <div>
  	<%= link_to "Sign Up", signup_url %>
  </div>
  <div><%= submit_tag "Log In" %></div>
<%= link_to "Sign Up", signup_url %>